<router-outlet></router-outlet>

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/agregarproducto">Productos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/resumenventas">Ventas</a>
          </li>


        </ul>

      </div>
    </div>
  </nav>
