body {
    font-family: Arial, sans-serif;
    background-color: #fff; 
    margin: 0;
    padding: 0;
}

.container-fluid.body {
    padding: 20px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.producto {
    background-color: #fff; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.producto h3 {
    font-size: 18px;
    margin: 15px 20px 10px 20px;
}

.producto p {
    font-size: 16px;
    margin: 10px 20px 15px 20px;
}

/* Efectos de hover */
.producto:hover {
    background: linear-gradient(to right, #b9e5ff, #e0d8ff); 
}

.producto:hover h3 a {
    color: #000000;
}

.producto:hover p {
    color: #000000;
}


.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  background-color: #E08090;
  padding: 10px;
  color: white;
}

.btn-primary {
  font-size: 18px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-primary img {
  width: 1.5rem;
}

.btn-modern {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background-color: #7a1edc;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-modern:hover {
  background-color: #ac7ae0;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.collection-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.btn-text {
  margin: 0;
}

/* Estilos responsivos */

/* Pantalla pequeña (menos de 768px) */
@media (max-width: 767px) {
  .card {
    width: 200px;
    margin: 15px;
  }
  .card-img-top {
    max-height: 150px;
  }
  .card-body {
    padding: 8px;
  }
  .btn-primary {
    font-size: 16px;
    padding: 12px 25px;
  }
  .btn-modern {
    padding: 6px 12px;
  }
}

/* Pantalla mediana (entre 768px y 992px) */
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    width: 220px;
    margin: 18px;
  }
  .card-img-top {
    max-height: 180px;
  }
  .card-body {
    padding: 10px;
  }
  .btn-primary {
    font-size: 18px;
    padding: 15px 30px;
  }
  .btn-modern {
    padding: 8px 15px;
  }
}

/* Pantalla grande (más de 992px) */
@media (min-width: 992px) {
  .card {
    width: 250px;
    margin: 20px;
  }
  .card-img-top {
    max-height: 200px;
  }
  .card-body {
    padding: 12px;
  }
  .btn-primary {
    font-size: 20px;
    padding: 18px 35px;
  }
  .btn-modern {
    padding: 10px 20px;
  }
}
