/* Importar fuente del navbar */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Línea separadora en el footer */
.footer-separator {
    width: 100%;
    height: 5px;
    background-color: #641881; /* Violeta de la paleta */
}

/* Footer */
.footer {
    background-color: hsl(0, 50%, 89%);
    color: #4A0A66; /* Mejor contraste */
    padding: 10px 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: fit-content;
}

/* Contenedor del footer */
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 35px;
}

/* Columnas */
.footer-column {
    flex: 1;
    min-width: 250px;
    margin: 10px 0;
    padding: 0 20px;
}

/* Títulos con fuente mejorada */
.footer-column h3 {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #641881;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Subrayado en títulos */
.footer-column h3::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: rgba(155, 7, 241, 0.781);
    left: 0;
    bottom: 0;
}

/* Texto con misma fuente del navbar */
.footer-column p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre icono y texto */
    margin: 10px 0;
}

/* Iconos alineados a la izquierda */
.footer-column i {
    font-size: 1.4em;
    color: #641881; /* Violeta de la paleta */
}

/* Enlaces */
.footer-column a {
    color: #4A0A66;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover,
.footer-column a:focus {
    color: #2A3335;
    outline: 2px solid #641881;
}

/* Imagen Play Store */
.playstore-badge {
    width: 180px;
    height: auto;
    margin-top: 10px;
    transition: transform 0.3s;
}

.playstore-badge:hover,
.playstore-badge:focus {
    transform: scale(1.05);
    outline: 2px solid rgba(155, 7, 241, 0.781);
}

.footer-legend {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #4A0A66;
    padding-top: 10px;
}