<div class="bg-gradient-custom">
  <div class="container-fluid p-3 mt-5 mb-5 w-50 mx-auto shadow bg-white rounded-3" style="max-width: 20rem; width: 50%;">
    <h2 class="text-center fw-semibold">Cambiar Contraseña</h2>

    <main class="form-signin">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <p class="text-danger">{{ errorMessage }}</p>
        <p class="text-success">{{ successMessage }}</p>

        <div class="input-group mt-3">
          <div class="input-group-text bg-secondary">
            <img src="../../assets/img/password-icon.svg" alt="icono-password" class="usu-icon">
          </div>
          <input class="form-control" type="password" placeholder="Nueva contraseña" formControlName="password">
        </div>

        <div class="input-group mt-3">
          <div class="input-group-text bg-secondary">
            <img src="../../assets/img/password-icon.svg" alt="icono-password" class="usu-icon">
          </div>
          <input class="form-control" type="password" placeholder="Repetir contraseña" formControlName="password2">
        </div>

        <button type="submit" class="btn btn-secondary text-white w-100 mt-4 fw-semibold shadow-sm" style="background-color: #333;"
          [disabled]="passwordForm.invalid">
          Guardar cambios
        </button>
      </form>
    </main>

    <!-- Volver al inicio (fuera del formulario, con función programática) -->
    <div class="mt-3">
      <div class="btn d-flex gap-2 justify-content-center border mt-3 shadow-sm bg-white" (click)="volverAlInicio()">
        <img src="../../assets/img/main-icon.svg" alt="main-icono" class="bi bi-house">
        <div class="fw-semibold text-secondary">Volver al inicio</div>
      </div>
    </div>
  </div>
</div>