
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 20px;
  
}
.titulo-contacto {
  background-color: #a83b58;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-contacto h3 {
  color: white;
  margin: 0;
  font-size: 24px;
}



.body {
  background: linear-gradient(to right, #ffcfe5, #fce4ec);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}


p {
  color: #2A3335;
  text-align: center;
  margin-bottom: 25px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  font-weight: bold;
  color: #0A5EB0;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 12px 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #0A97B0;
  box-shadow: 0 0 5px rgba(10, 151, 176, 0.5);
}

textarea {
  resize: vertical;
  min-height: 120px;
}

input[type="submit"] {
  background-color: #B03052;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
  background-color: #0A5EB0;
  transform: scale(1.05);
}
