<header>
  <nav class="navbar navbar-expand-lg navbar-light nav-yellow  border-bottom border-top p-0">
    <div class="container">

      <!-- Nav Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">
          <!-- cart -->
          <ng-container>
            <span class="d-flex">
              <li *ngIf="logueado" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-semibold text-uppercase me-1" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="text-dark fw-bold"><i class="fa fa-user ms-3 me-1"></i></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li> <a class="dropdown-item hand" routerLink="/perfil"> Profile </a></li>
                  <li> <a class="dropdown-item hand" routerLink="/order-history" routerLinkActive="router-link-active">
                      Orders</a></li>
                </ul>
              </li>
              <li *ngIf="logueado" class="nav-link btn btn-outline-info my-2 my-sm-0">
                <i class="fa fa-cart-shopping" style="color: #202122;" routerLink="/carrito">Carrito</i>
              </li>
              <li *ngIf="!logueado" class="nav-link my-sm-0">
                <i class="fa" routerLink="/"></i>
              </li>
            </span>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link"> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>