<header>
  <nav class="navbar navbar-expand-lg navbar-light nav-yellow border-bottom border-top p-0">
    <div class="container">

      <!-- Nav Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-0 text-center d-flex align-items-center">
          <!-- User menu and cart items container -->
          <ng-container>
            <div class="d-flex align-items-center">
              <!-- User Menu Dropdown -->
              <li *ngIf="logueado" class="nav-item d-flex align-items-center me-2">
                <a class="nav-link" (click)="irAPerfil()" style="cursor: pointer;" aria-label="Ir al perfil">
                  <div class="avatar-container">
                    <img [src]="'assets/images/' + userAvatar" alt="Avatar de usuario" class="user-avatar">
                  </div>
                </a>
              </li>
              <!-- Shopping Cart -->
              <li *ngIf="logueado" class="nav-item cart-container">
                <a class="nav-link" routerLink="/carrito" aria-label="Ver carrito de compras">
                  <i class="fa fa-cart-shopping" style="color: #202122;">Carrito</i>
                  <span class="cart-badge" *ngIf="cartItemsCount > 0">{{ cartItemsCount }}</span>
                </a>
              </li>
              <!-- Placeholder for non-logged in users -->
              <li *ngIf="!logueado" class="nav-item">
                <a class="nav-link" routerLink="/" aria-hidden="true"></a>
              </li>
            </div>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>
